.container {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-3);

    max-width: var(--max-width-xs);
    width:100%;

    padding: var(--dimension-3);

    background-color: var(--color-foreground);
    color: var(--color-text);

    border-radius: var(--radius-1);

    svg {
        width: var(--dimension-3);
        height: var(--dimension-3);
        color: var(--color-text);
    }

    button{
        margin-top:auto;
    }
}

.treatmentText {
    color: var(--color-text);
}