.paddedContainer {
    padding: var(--spacing-section-l) var(--spacing-global);
    background-color: var(--color-background);

    h2 {
        margin-bottom: var(--dimension-5);
    }
}

/*#####################################################################*/

.flexContainer1 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-5);
    align-items: center;
    justify-content: center;
    margin: auto;

    --border-color: var(--color-border);
}

@media screen and (min-width: 480px) {
    .flexContainer1 {
        gap: var(--dimension-10);
    }
}

/*#####################################################################*/

.flexContainer2 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-4);
    margin: auto;
    justify-content: center;
}

@media screen and (min-width: 960px) {
    .flexContainer2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/*#####################################################################*/

.flexContainer3 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-4);
    align-items: center;
    margin: auto;
    text-align: center;
}

/*#####################################################################*/

.flexContainer4 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-5);
    margin: auto;

    --border-color: var(--color-border);

    hr {
        height: 1px;
        color: var(--border-color);
        width: 100%;
    }
}


@media screen and (min-width: 960px) {
    .flexContainer4 {
        flex-direction: row;

        --border-color: var(--color-border);
    }
}

/*#####################################################################*/

.flexContainer5 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-5);
    width: 100%;

    --border-color: var(--color-border);


    hr {
        color: transparent;
        border: 1px solid var(--border-color);
        width: 100%;
    }
}

/*#####################################################################*/

.flexContainer6 {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-1);
}

/*#####################################################################*/

.xxlContainer {
    max-width: var(--max-width-xxl);
    margin: auto;
}

/*#####################################################################*/

.mContainer {
    max-width: var(--max-widht-m);
}

/*#####################################################################*/

.ctaContainer {
    background: linear-gradient(180deg, var(--color-blue-3) 0%, var(--color-blue-2) 100%);
    color: var(--color-white-1);
}

/*#####################################################################*/

.verticalRule {
    border-left: none;
    margin-left: 0;
}

@media screen and (min-width: 960px) {
    .verticalRule {
        border-left: 1px solid var(--color-border);
        padding-left: var(--spacing-global);
    }
}

/*##################################################*/

@media screen and (min-width: 960px) {
    .mobileOnly{
        display: none;
    }
}